:root {
  --primary-color: #18E299;
  --primary-white: #fff;
  --primary-gray: #cbd5e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

body {
  background-color: #010911;
  color: var(--primary-white);
}

/* NAVBAR */
.navbar {
    position: fixed;
  width: 100%;
  border-bottom: 0px solid rgba(255, 255, 255, 0.05);
}

.nav-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* LOGO */
.logo img {
  height: 26px;
}

/* LINKS */
.links {
  display: flex;
  gap: 29px;
  padding-left: 127px;
}

.links a {
  text-decoration: none;
  font-size: 15px;
  color: var(--primary-gray);
  font-weight: bold;
}

.links a:hover {
  color: var(--primary-white);
}

/* CTA BUTTONS */
.cta {
  display: flex;
  gap: 14px;
}

.contact-sales {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: var(--primary-white);
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
}

.start-free {
  background: #ffffff;
  color: #020617;
  border: none;
  padding: 8px 18px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  background-image: url("assets/images/bg-dark.svg");
  background-size: 100%;
  color: var(--primary-white);
  height: 120vh;
  width: 100%;
  padding: 80px 80px 120px;
}

.hero-container {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 0 20px;
  margin-top: 0;
}

/* BADGE */
.hero-badge {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.08);
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
  margin-bottom: 40px;
  margin-top: 0;
}

.badge-new {
  background: var(--primary-color);
  color: var(--primary-white);
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
}

.badge-text {
  color: #e5e7eb;
}

.badge-arrow {
  color: var(--primary-gray);
}

/* HEADLINE */
.hero h1 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 24px;
}

/* SUBTEXT */
.hero-subtext {
  font-size: 18px;
  color: #cbd5e1;
  max-width: 700px;
  margin: 0 auto 36px;
}

/* CTA */
.hero-cta {
  display: inline-flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 0px;
  border-radius: 999px;
}

.hero-cta input {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: var(--primary-white);
  font-size: 15px;
  width: 240px;
}

.hero-cta input::placeholder {
  color: #bbb6b6;
}

.hero-cta button {
  background: var(--primary-white);
  color: #020617;
  border: none;
  padding: 10px 22px;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

/* DOCS SECTION */
.docs-section {
  background: #030405;
  width: 70%;
  border: 3px solid rgba(255,255,255,0.05);
  box-shadow: 3px var(--primary-color);
  border-radius: 20px;
  margin-top: -450px;  
margin-left: 220px;
  position: relative;
}

.docs-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

/* SIDEBAR */
.docs-sidebar {
  background: #030405;
  border-right: 1px solid rgba(255,255,255,0.08);
  padding: 10px;
  width: 200px;
}

.sidebar-logo img {
  height: 22px;
  margin-bottom: 24px;  
}

.sidebar-list {
  list-style: none;
  font-size: 12px;
}

.sidebar-list li {
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar-list li.active {
  background: rgba(16,185,129,0.15);
  color: var(--primary-color);
}

.sidebar-list li.muted {
  color: #7a7979;
}

.sidebar-list hr {
  margin: 18px 0;
  border: none;
  border-top: 1px solid rgba(255,255,255,0.08);
}

/* MAIN */
.docs-main {
  background: #030405;
  border-radius: 16px;
  padding: 30px 80px;
  flex: 1;
  min-width: 0;
}

/* TOP BAR */
.docs-topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.tabs {
  display: flex;
  gap: 20px;
}

.tab {
  font-size: 12px;
  color: var(--primary-gray);
  cursor: pointer;
}

.tab.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 6px;
}

/* SEARCH */
.search {
  display: flex;
  gap: 10px;
  transform: translateX(175px);
  margin-top: -10px;
}

.search input {
  background: rgba(255,255,255,0.08);
  border: none;
  padding: 2px 18px;
  border-radius: 8px;
  color: var(--primary-white);
}

.search button {
  background: #030405;
  border: 1px solid rgba(255,255,255,0.08);
  padding: 8px 14px;
  border-radius: 8px;
  color: var(--primary-white);
}

/* CONTENT */
.section-label {
  color: var(--primary-color);
  font-size: 12px;
}

.docs-content h2 {
  font-size: 22px;
  margin: 10px 0;
}

.description {
  color: #7a7979;
  margin-bottom: 30px;
  font-size: 12px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* CARDS */

.doc-card h4 {
  margin-bottom: 8px;
  font-size: 12px;
  color: #8f8c8c;
}

.doc-card img{
  height: 115px;
  margin-bottom: 12px;
  border-radius: 10px;
}

.doc-card p {
  color: #7a7979;
  font-size: 12px;
}

/* TOC */
.docs-toc {
  padding: 80px 20px;
  font-size: 12px;
  width: 180px;
  flex-shrink: 0;
}

.docs-toc h4 {
  margin-bottom: 12px;
}

.docs-toc ul {
  list-style: none;
}

.docs-toc li {
  margin-bottom: 8px;
  color: var(--primary-gray);
}

.docs-toc li.active {
  color: var(--primary-color);
}

/* trusted logos */
.trusted-logos {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 40px 60px;
  padding: 60px 0;
}

.trusted-logos img {
  height: 280px;
  padding-left: 120px;
}

/* INTELLIGENCE SECTION */
.intelligence {
  padding: 120px 60px;
  background-color: #010911;
  color: #fff;
}

.intelligence-header {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 80px;
}

.intelligence-header h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.intelligence-header p {
  color: #cbd5e1;
  font-size: 18px;
  line-height: 1.6;
}

/* CARDS */
.intelligence-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 40px;
  max-width: 900px;
  margin: auto;
}

.intel-card {
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 30px;
  position: relative;
}

.intel-card-wide {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 50px;
    margin-top: 40px;
}

.wide-mock img {
  margin-top: 40px;
  width: 100%;
  max-width: 1000px;
  border-radius: 16px;
}

.card-tag {
  color: #18e299;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.intel-card h3 {
  font-size: 24px;
  margin: 16px 0;
}

.intel-card p {
  font-size: 14px;
  color: #94a3b8;
  line-height: 1.6;
}

/* LEFT MOCK UI */
.mock-ui {
  margin-top: 40px;
  background: #010911;
  border-radius: 14px;
  padding: 20px;
  position: relative;
}

/* RIGHT STATUS ICONS */
.status-icons {
  display: flex;
  gap: 16px;
  margin-top: 50px;
}
